:root{
    --white-color: #fff;
    --yellow-color: #ffff00;
    --gray-primary: #f0f0f0;
    --red-primary:#D61218;
    --red-dark:#861A14;
    --bg-v1: #efe5e5;
    --btn-gray: #d5d7d8;
    --black: #000;
}