/* ======== header css start ========= */
header{
    height: 85px;
    width: 100%;
    position: relative;
    z-index: 999;
    /* background-size:cover;
    background-position: center; */
    background-image: linear-gradient(to left, #d61218, #c61617, #b71817, #a81916, #991a15, #991a15, #991a15, #991a15, #a81916, #b71817, #c61617, #d61218);
    /* padding-top: 20px; */
}

.nav-custom{
    transform: translateY(12px);
    /* background-color: crimson; */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-custom__logo img{
    height: 90px;
    width: 90px;
}

.nav-custom__logo {
    color: var(--white-color);
}

.nav-custom__logo:hover{
    color: var(--white-color) !important;
}

.navbar-nav-custom li a{
    background-image: linear-gradient(to top, #d61218, #c61617, #b71817, #a81916, #991a15, #991a15, #991a15, #991a15, #a81916, #b71817, #c61617, #d61218);
    color: var(--white-color);
    padding: 0 !important;
    padding: 0 8px !important;
    font-size: 16px;
    transition: all .2s linear;
}
.link-active{
    color: var( --yellow-color) !important;
}
.navbar-nav-custom li a:hover{
    color: var(--yellow-color);
}

.navbar-nav-custom li a:focus{
    color: var(--yellow-color);
}

.navbar-nav-custom li:not(:last-child){
    margin-right: 10px;
    /* border-right: 1px solid var(--white-color); */
}
.header-form{
    border:1px solid var(--white-color);
    height: 25px;
    width: 50px;
    border-radius: 30px;
    margin-left: 15px;
    text-align: end;
    color: var(--white-color);
    padding-right: 5px;
    font-size: 14px;
    cursor: pointer;

}
/* ======== header css end ========= */